* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    color:rgb(9, 2, 43);
    background-color:grey;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header*/
header {
    padding: 20px 35px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 50px;
    color:grey;
}

header a {
    font-weight: bold;
    color:white;
    font-size: large;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    align-items: stretch;
    justify-content:space-between;
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li a {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

/* Entire Section Start*/
section {
    padding: 60px;
}

/*About Me Section Start*/

.main {
    background-image: url(../images/backgroundcomputer.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main .heroimage {
    border: 3px solid whitesmoke;

}

.herotext {
    color: white;
    font-weight: bold;
    border: 15px solid black;
    background-color: grey;
    width: 500px;
    padding: 50px;
    margin: 100px;
    
}

.herotext h2 {
    color:white;
}

/* Work Section Start*/
.worksection div {
    color:white;
    font-size: xx-large;
}
.worksection h2 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}



h3 {
    background-color: skyblue;
    text-decoration: none;
}

p {
    background-color: gray;
}



.coderefractor {
    background-image:url(../images/horiseon.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 10px solid black;
    width: 100%;
    padding: 5px;
    box-sizing: content-box;
    height: 500px;
    opacity:0.7;
}

.coderefractor:hover {
    opacity:1;
}

.flexgrid {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
    padding: 10px;
}

.html1 {
    background-image:url(../images/html1.jpg);
    background-size: cover;
    background-position: center;
    border:10px solid black;
    min-height: 300px;
    opacity:0.7
}

.html1:hover {
    opacity: 1;
}

.html2 {
    background-image:url(../images/html2.jpg);
    background-size: cover;
    background-position: center;
    border:10px solid black;
    min-height: 300px;
    opacity:0.7;
    
}

.html2:hover {
    opacity:1;
}

.css1 {
    background-image:url(../images/css1.jpg);
    background-size: cover;
    background-position: center;
    border:10px solid black;
    min-height: 300px;
    opacity:0.7
    
}

.css1:hover {
    opacity:1;
}









/* Footer Starts */

footer {
    background-color:black;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h4 {
    color:gray;
    font-size: xx-large;
    margin: 0;
    font-weight: bolder;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:white;
    font-size: xx-large;
    font-weight: bolder;
    margin: 0 30px;
}

/*Media resize*/

@media screen and (max-width: 980px) {
    header {
        flex-flow:column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    header h1 {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%
    }

    nav {
        margin-bottom: 5px;
    }

    .main {
        background-size: 190%;
        justify-content: center;
        align-items: center;
    }

    .main img {
        margin-right: 4%;
        margin-left: 4%;
        justify-content: center;
        align-items: center;
    }

    section {
        margin-right: 4%;
        margin-left: 4%;

    }
}   

@media screen and (max-width: 600px) {
    

}

    