* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    color:rgb(9, 2, 43);
    background-color:rgb(204, 221, 178);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header*/
header {
    padding: 20px 35px;
    background-color:green;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 50px;
    color:skyblue;
}

header a {
    font-weight: bold;
    color:white;
    font-size: large;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    align-items: stretch;
    justify-content:space-between;
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li a {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

/* Entire Section Start*/
section {
    padding: 60px;
}

/*About Me Section Start*/

.main {
    background-image: url(../images/backgroundcomputer.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heroimage {
    border: 3px solid whitesmoke;
    width:100px;
    height: 100px;

}

.herotext {
    color: white;
    font-weight: bold;
    border: 15px solid green;
    background-color: green;
    width: 500px;
    padding: 50px;
    margin: 100px;
    
}

.herotext h2 {
    color:skyblue;
}

/* Work Section Start*/
.worksection div {
    color:white;
    font-size: xx-large;
}
.worksection h2 {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}





.coderefractor {
    background-image:url(../images/horiseon.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 10px solid greenyellow;
    width: 100%;
    padding: 5px;
    box-sizing: content-box;
    height: 500px
}

.flexgrid {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
    padding: 10px;
}

.html1 {
    flex: 1 1 0;
    background-image:url(../images/html1.jpg);
    background-size: cover;
    background-position: center;
    border:10px solid green;
    padding: 10px;
}

.html2 {
    flex: 1 1 0;
    background-image:url(../images/html2.jpg);
    background-size: cover;
    background-position: center;
    border:10px solid green;
    padding: 10px;
}

.css1 {
    flex: 1 1 0;
    background-image:url(../images/css1.jpg);
    background-size: cover;
    background-position: center;
    border:10px solid green;
    padding: 10px;
}







/* Footer Starts */

footer {
    background-color:green;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h4 {
    color:skyblue;
    font-size: xx-large;
    margin: 0;
    font-weight: bolder;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:white;
    font-size: xx-large;
    font-weight: bolder;
    margin: 0 30px;
}

